<h2>
  Bower
  <button ng-click="save()" class="btn btn-primary pull-right">Save</button>
</h2>

<div class="form-group">
  <label class="checkbox bold-label">
    <input type="checkbox" ng-change="save()" ng-model="config.globalBower" ng-false-value="true" ng-true-value="false">
    Use project's bower dependency
  </label>
  <p class="help-text">
    Use your project's local Bower dependency. This means you have `bower` in the `devDependencies` section of your package.json.
  </p>

  <label for="node-project-subdir" class="bold-label">Project Subdirectory</label>
  <input type="text" ng-model="config.subDir" placeholder="subdirectory for project">
  <p class="help-text">
    Optional. Usually set if your bower.json is located deeper down in the folder structure of
    your repository, or if there are multiple projects in this one repository. A valid
    value is something like "myproject/", notice the lack of a slash in the beginning.
  </p>
</div>

<div>
  <h4>Caching</h4>
  <div class="well">
    <div class="row-fluid">
      <div class="span6">
        <div class="btn-group">
          <div class="btn" ng-model="config.caching" ng-change="save()" btn-radio="'strict'">Strict</div>
          <div class="btn" ng-model="config.caching" ng-change="save()" btn-radio="'loose'">Loose</div>
          <div class="btn" ng-model="config.caching" ng-change="save()" ng-class="{ active: !config.caching }" btn-radio="'none'">None</div>
        </div>
        <label class="checkbox" ng-show="config.caching === 'strict' || config.caching === 'loose'">
          <input type="checkbox" ng-change="save()" ng-model="config.update_cache">
          Run `bower update` after restoring the cache. This is only
          important if you have "*" dependencies.
        </label>
      </div>
      <div class="span6">
        <p>
          <strong>Strict</strong> cache your modules according to an md5
          hash of the bower.json. Any change will cause a fresh `bower
          install`, w/o the cache.
        </p>
        <p>
          <strong>Loose</strong> cache everything, and run `bower update`
          and `bower prune` after restoring the cache.
        </p>
      </div>
    </div>
  </div>
</div>

<button ng-click="save()" class="btn btn-primary pull-right">Save</button>
